
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/typeahead.css" rel="stylesheet" />
<h2>Index</h2>

<form action="">
    <div class="FormGroup">
        <label for="">Customer</label><br />
    </div> 
    <div id="customers">
        <input class="typeahead" text="" type="text" class="form_control">
    </div>

    <div class="FormGroup">
        <label for="">Movie</label><br />
        <input type="text" text="" class="form_control">
    </div><br />
    <button class="btn btn-primary">Submit</button>
</form>
@section scripts
{
  <script src="~/Scripts/typeahead.bundle.js"></script>
    <script>
        $(document).ready(function ()
        {
            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '../api/customers?query=%QUERY.json',

                remote: {
                    url: '../api/customers?query=%QUERY.json',
                    wildcard: '%QUERY'
                }
            });

            $('#customers .typeahead').typeahead(null, {
                name: 'customers',
                display: 'name',
                source: customers
            });
        })
        
    </script>
    }